*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    margin: 30px 0 40px;
}

nav {
border-radius: 5px;
padding: 20px;
margin: 0 auto;
width: 40%;
}

nav input[type=text]{
    width: calc(100% - 170px);
    padding: 12px 20px;
    margin: 8px 0;
    margin-right: 30px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

nav input[type=button] {
width: 100px;
display: inline-block;
background-color: #4CAF50;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
}

nav input[type=add]:hover {
background-color: #45a049;
}

main{
    margin: 0 auto;
    width: 40%;
}

main .todo{
    border-top: 1px solid lightgrey;
    height: 60px;
    line-height: 60px;
}

main .todo:last-of-type{
    border-bottom: 1px solid lightgrey;
}

main .todo::after{
    content: "";
    display: table;
    clear: both;
}

main .todo span{
    float: left;
}

main .todo i{
    float: right;
    line-height: 60px;
    font-size: 20px;
    margin-right: 40px;
}

main .done{
  text-decoration: line-through;
}